Template/Keil_project/output/*
Template/Keil_project/Project.uvguix.10243
Template/Keil_project/list/startup_gd32e23x.lst
Template/Keil_project/RTE/_GD32E23x/RTE_Components.h

Template/Keil_project/list/Project.map
.vscode/settings.json
